@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,200;1,300&display=swap');
:root{
    --color:#6C5CE7
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    font-size: 16px;
}
body{
    overflow-x: hidden;
   
}
.outer-container{

    background:purple;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* position: fixed;
    top: 0;
    left: 0; */
    z-index: 100;
    align-items: center;
}
.logo a{
    font-size: 1.5rem;
    color: #fff;
}
.logo a i{
    padding: 0 1rem;
    margin-right: .5rem;
    font-size: 1.5rem;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    margin: 0 1rem;
}
.menu ul li a{
    
    color: #fff;
}

.menu ul li a:hover{
    color: #ccc;
}

/* Styling hamburger icoon */

.fa-bars{
    font-size: 2rem;
    color: #fff;
    display: none;
}
.home{
    height: 91vh;
    background:linear-gradient(purple, var(--color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    color: #fff; 
}
.heading{
    font-size: 4rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    text-align: center;
    padding: 0 1rem;
}
.slogan{
    color:#eee;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    font-weight: 400;
    text-align: center;
}
.home button{
    padding: 0.5rem 2rem;
    background-color: #fff;
    color: #444;
    border: none;
    margin-top: 1rem;
}

.home button:hover{
    letter-spacing: .1rem;
    cursor: pointer;
}

.wave{
    background: url('/img/wave.png');
    background-size: 100rem 11rem;
    background-repeat: repeat-x;
    width: 100%;
    height: 7rem;
    position: absolute;
    bottom: -.5rem;
    animation: waves 10s linear infinite;
    left: 0;
}
.wave2{
    animation-direction: reverse;
    opacity: .2;
}
.wave3{
    animation-duration: 5s;
    opacity: .5;
}

@keyframes waves {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100rem;
    }
}

@keyframes rotation {
    
    100%{
        transform: rotate(360deg);
    }
}

.fa-cog{
    font-size: 20rem;
    opacity: .15;
    color: #fff;
    position: absolute;
    animation: rotation 10s linear infinite;

}
.nut1{
    top:10%;
    left:-10rem;
}
.nut2{
    bottom: 23%;
    right:-13rem
}

.about-us{
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.border_style_1::before{
    content: " ";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: -.5rem;
    left: 2.3rem;
    border-left: .5rem solid var(--color);
    border-top: .5rem solid var(--color);
}

.border_style_1::after{
    content: " ";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: -1.6rem;
    right: 2rem;
    border-right: .5rem solid var(--color);
    border-bottom: .5rem solid var(--color);
}
.border_style_2::before{
    content: " ";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: -.7rem;
    left: 2rem;
    border-left: .5rem solid var(--color);
    border-top: .5rem solid var(--color);
}

.border_style_2::after{
    content: " ";
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: -1.6rem;
    right: 2rem;
    border-right: .5rem solid var(--color);
    border-bottom: .5rem solid var(--color);
}



.about-us .heading{
    font-size: 3.5rem;
    margin: 2rem;
    padding-top: 6rem;
    color: var(--color);
    z-index: 2;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.row .content{
    text-align: left;
    width: 50%;
}

.row .content h3{
    font-size: 2.5rem;
}
.image{
    width: 50%;
}
.image img{
    max-width: 100%;
    height: auto;
}

.btn{
    padding: 6px 30px;
    text-transform: capitalize;
    border: none;
    border-radius: 22px;
    background-color: var(--color);
    color: #fff;
    margin-top: 1rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
.btn:hover{
    cursor: pointer;
    letter-spacing: .1rem;
    opacity: .8;
}

/* Styling for services section */
/* .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
} */
.service .content{
    width: 50%;
    text-align: left;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    
}

#services{
    color: var(--color);
    margin-top: 2rem;
}

.service .content h3{
    font-size: 2.5rem;
}
.service .image{
    width: 40%;
    margin-right: 1.5rem;
}
.content p{
    font-size: 1.5rem;
}
.content h3{
    color: var(--color);
}

/* Team section Styling */

.team{
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    background-color: #222;
}
.team .heading{
    color:#fff
}
.team .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.team .row .card{
    height:35rem;
    width: 25rem;
    background-color: white;
    text-align: center;
    margin:7rem 2rem;
    -webkit-box-reflect: below .2rem linear-gradient(transparent 70%, #0004);
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.team .row .card .avatar{
    margin: 1rem 0;
    padding-top: 4rem;

}

.team .row .card .avatar img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0,0,0,.2);
    object-fit: cover;
    
}

.team .title h3{
    font-size: 2rem;
    color: #333;
}
.team .title span{
    font-size: 1.8rem;
    color: #333;
}



.team .icons a{
    margin-top: 4rem;
    padding: 0 1rem;
    color: #333;
    font-size: 2rem;
}
.team .icons a:hover{
    color:var(--color)
}



@media (max-width:768px){

    .about-us{
        min-height: unset;
        margin-bottom: 5rem;
    }

    html{
        font-size: 50%;
    }

    .row{
        flex-direction: column-reverse;
    }
    .row .content {
        text-align: center;
        width: 100%;
        margin-top: 4rem;
    }
    .row.image{
        width: 100vh;
    }
    .row.image img{
        max-width: 70%;
        height: auto;
    }
    .logo a{
        font-size: 3rem;
    }
    .logo a i{
        font-size: 3rem;
    }
    .fa-bars{
        display: block;
        font-size: 3rem;
    }
    .fa-bars:hover{
        color: #ccc;
    }
    nav{
        flex-wrap: wrap;
        
    }
    nav .menu{
        background-color: #ffffff;
        display: block;
        width: 100%;
        height: 54%;
        position: fixed;
        transform: translateY(-59%);
        left: 0;
       
    }
    nav .menu ul{
        flex-direction: column;
        margin: 2rem 0;
        padding: 1rem 0;

    }
    nav .menu ul li {
        text-align: center;
        margin: 1rem 0;
    }
    nav .menu ul li a{
        color: black;
        font-size: 3rem;
    }
    .fa-times{
        transform: rotate(180deg);
    }
    nav .menu-toggle{
        transform: translateY(59%);
    }
    .home {
        font-size: 4rem;
    }
    .slogan{
        font-size: 1.7rem;
    }
    .service .row:nth-child(even){
        flex-flow:column
    }
}